[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
regex = "*"
tqdm = "*"
torch = "*"
numpy = "*"
matplotlib = "*"
tokenizers = "*"
torchtune = "*"
torchao = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
